<h2> Your cart </h2>
{# {{ dump(cart) }} #}
{# <form action="#" method="post"> #}
{# {% for item in cart %} #}
{# <input hidden type="text" name="id" value={{ item.prod_id }}> #}
{# <h3><a href="/product/card/?id={{ item.prod_id }}">{{ item.name }}</a></h3> #}
{# <p>price: {{ item.price }} &dollar;</p> #}
{# <p>quantity: <b>{{ item.quantity }}</b></p> #}
{# <button prod_id={{ item.prod_id }} class="remove_cart_item">удалить товар</button> #}
{# {% endfor %} #}
{# </form> #}
{# <input style="margin-top:10px; border-top: 1px solid grey;" type="submit" value="Оформить заказ"> #}


    {% for item in cart %}
        <input hidden type="text" name="id" value={{ item.prod_id }}>
        <h3><a href="/product/card/?id={{ item.prod_id }}">{{ item.name }}</a></h3>
        <p>price: {{ item.price }} &dollar;</p>
        <p>quantity: <b>{{ item.quantity }}</b></p>
        <button line_id={{ item.cart_line_id }} class="remove_cart_item">удалить товар</button>
    {% endfor %}

<div>
    <button style="margin-top:10px; border-top: 1px solid grey;" type="submit">Оформить заказ</button>
</div>

<script>
    let buttons = document.querySelectorAll('.remove_cart_item');
    buttons.forEach((elem) => {
        elem.addEventListener('click', () => {
            let id = elem.getAttribute('line_id');
            console.log('click ' + id);
            (
                async () => {
                    const response = await fetch('/cart/delete/?id=' + id);
                    const answer = await response.json();
                    document.getElementById('count').innerText = answer.count;
                }
            )();
        });
    });
</script>