<h2> Catalog </h2>
{# {{ dump(catalog) }}#}

{# {% for item in catalog %} #}
{# <div class="name_and_price"> #}
{# <form action="/cart/add/" method="post"> #}
{# <input type="text" name="id" value={{ item.id }} hidden> #}
{# <input type="text" name="quantity" value="1" hidden> #}
{# <h3><a href="/product/card/?id={{ item.id }}">{{ item.name }}</a></h3> #}
{# <p>price: {{ item.price }} &dollar;</p> #}
{# <button type="submit">Купить</button> #}
{# </form> #}
{# </div> #}
{# {% endfor %} #}

{# async #}
<div class="catalog_items">
    {% for item in catalog %}
        <div class="catalog_item">
            <input type="text" name="id" value={{ item.id }} hidden>
            <input type="text" name="quantity" value="1" hidden>
            <h3 class="catalog_item_name" ><a href="/product/card/?id={{ item.id }}">{{ item.name }}</a></h3>
            <p>price: {{ item.price }} &dollar;</p>
            <button prod_id={{ item.id }} class="buy">Купить</button>
        </div>
    {% endfor %}
</div>
<script>
    let buttons = document.querySelectorAll('.buy');
    buttons.forEach((elem) => {
        elem.addEventListener('click', () => {
            let id = elem.getAttribute('prod_id');
            (
                async () => {
                    const response = await fetch('/cart/add/?id=' + id);
                    const answer = await response.json();
                    document.getElementById('count').innerText = answer.count;
                }
            )();
        });
    });
</script>
